# محیط‌های توسعه و IDE
.idea/
.vscode/

# فایل‌های حساس و امنیتی
.env

# محیط مجازی و کتابخانه‌ها و مدل ها 
venv/
env/
rag_agent/
__pycache__/

# پوشه داده‌ها و فایل‌های دیتابیس
Data/
*.db
*.sqlite3

# فایل‌های سیستم عامل
.DS_Store
#test
